.navbar {
	display: none;
}
.main-navigation{
	display: none;
}
.hidden-print {
	display: none;
}
.breadcrumb {
	display: none;
}
.page-header {
	display: none;
}
.footer {
	display: none;
}
.main-container {
	margin: 0 !important;
	padding: 0 !important;
}
.main-content .container{
	min-height: auto !important;
	border: none !important;
}